html{
    font-family: 'Roboto Mono', monospace;
}

.cabecalho{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    background-color: rgb(1, 6, 15);
}

.container{
    padding: 0 40px;
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 a{
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;

}

.logo h1 a span{

    color: rgb(31, 214, 113);
}


.cabecalho .menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.cabecalho .menu ul li{
    position: relative;
    transition: .2s;
}

.cabecalho .menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.menu ul li:not(#link-inscrever)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: #ffffff;
    transition: .2s;
}

.menu ul li:not(#link-inscrever):hover::after {
    width: 100%;
}

#link-inscrever a{
    border: none;
    font-size: 15px;
    background-color: rgb(31, 214, 113);
    padding: 12px 20px;
    border-radius: 20px;
    color: black;
}

#link-inscrever:hover{
    transform: scale(1.05);
}


/* Section Home */

.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 6, 15);
}

.home .text-content{
    width: 50%;
    font-size: 25px;
    color: white;
    line-height: 1.8rem;
    
}

.text-content h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    line-height: 5rem;
}

.text-content h2 span {
    white-space: nowrap;
    color: rgb(31, 214, 113);
    
}

.text-content p{
    font-size: 18px;
}