html{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(1, 6, 15);
    scroll-behavior: smooth;
}

.cabecalho{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

.container{
    padding: 0 40px;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo h1 a{
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;

}

.logo h1 a span{

    color: rgb(31, 214, 113);
}


.cabecalho .menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.cabecalho .menu ul li{
    position: relative;
    transition: .2s;
}

.cabecalho .menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.menu ul li:not(#link-inscrever)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: #ffffff;
    transition: .2s;
}

.menu ul li:not(#link-inscrever):hover::after {
    width: 100%;
}

#link-inscrever a{
    border: none;
    font-size: 15px;
    background-color: rgb(31, 214, 113);
    padding: 12px 20px;
    border-radius: 20px;
    color: black;
}

#link-inscrever:hover{
    transform: scale(1.05);
}


.skills-badge {
    margin-top: 30px;
    font-size: 30px;
}

.skills-badge h3 {
    margin-bottom: 20px;
}


/* Section Home */






.home{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .text-content{
    width: 50%;
    font-size: 25px;
    color: white;    
}

.text-content h2 {
    font-size: 4rem;
    line-height: 5rem;
}

.text-content h1 {
    color: rgb(31, 214, 113);
    font-size: 3.8rem;
    margin-bottom: 30px;
    
}

.text-content p{
    line-height: 1.8rem;
    font-size: 18px;
}



.image-container img{
    width: 100%;
    max-width: 30em;
    border-radius: 50%;
    border: 4px solid rgb(31, 214, 113);
    box-shadow: 0 0 10px black;
}




/* Section Projects */





.projects{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.projects .title{
    color: white;
    font-size: 2.5rem;
}


.projects .project-box{
    background-color: #1E1E2E;
    height: 30em;
    width: 20em;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.877);
    transition: .2s;
}

.project-box:hover{
    transform: scale(1.02);
}

.content-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-box .text-project{
    height: 100%;
    max-height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    line-height: 16px;
}

.text-project h3{
    color: #3B82F6;
    font-size: 25px;
    margin-bottom: 25px;
    
}

.text-project p{
    font-size: 14px;
    margin-bottom: 15px;
}

.languagues{
    font-size: 25px;
}

.project-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;

}

.project-links a{
    display: flex;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: black;
    padding: 6px 8px;
    border-radius: 5px;
    transition: .2s;
    width: 100px;

}

.project-links a:hover{
    background-color: rgb(10, 10, 10);
    transform: scale(1.05);
}

.projects .image-project img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.425);
}



.project-coming{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

/* Footer */

.rodape{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-rodape{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.top-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top-rodape h1{
    margin-bottom: 20px;
}

.top-rodape p{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 200px;
}

.bottom-rodape {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.329);
}